body {
    background:lightcoral
}


h1 {
    background-color:lightcyan;
    color:hotpink
}

.first {
    background-color:cyan;
    color:darkgray;
}

h2 {
    background-color:lightseagreen;
    color:gray;
}
.second {
    background-color:lightpink;
    color:purple;
}

ol {
    background-color:lightyellow;
    color:darkmagenta;
}